body{
	background-color: brown;
}
h1{
	background-color: orange;
	color: beige;
	text-align: center;
	padding: 10px 0px;
}
span{
	display: flex;
	justify-content: space-around;
}
article{
	width: 30%;
	font-size: 1.6em;
	border: 2px solid white;
	padding: 7px;
}
button{
	margin-top: 9px;
	padding: 6px 8px;
	font-weight: bold;
}