body{
	background-color: brown;
}
h1{
	background-color: orange;
	color: beige;
	text-align: center;
	padding: 10px 0px;
}
div{
	display: flex;
	justify-content: center;
	padding: 7px;
}
article{
	width: 70%;
}
button{
	padding: 6px 8px;
	font-weight: bold;
}